* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    /* justify-content: center; */
    /* align-items: center; */
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.tle{
    width: 200px;
}

.info-panel{
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.score-board{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    background-color: grey;
}

input[type = "text"]{
    width: 40px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50%;
    min-width: 500px;
    height: 50%;
    border-radius: 15px;
    padding: 20px;
    display: none;
}

.top {
    border-bottom: 1px solid black;
}

.bottom {
    border-top: 1px solid black;
}

.left {
    border-right: 1px solid black;
}

.right {
    border-left: 1px solid black;
}

.cell {
    font-size: 30px;
    text-align: center;
    display: grid;
    align-items: center;
}
#welcome{
    height:300px;
    width: 400px;
    display: grid;
    justify-self: center;
    text-align: center;
    grid-template-rows: 1fr 1fr ;
    gap: 5px;
    border: 1px solid black;
    padding:  20px 25px 20px;
    border-radius: 12px;

}

#welcome .txt {
    display: grid;
    gap: 1px;
}

#welcome .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn{
    background-color: grey;
    outline: none;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    border: none;
    transition: all 0.25s ease-in-out;
}

.btn:hover{
    background-color: black;
    color: white;
    width: 130px;
    height: 65px;
    font-size: large;
}